.tablet-desktop-responsive{  
  .About-Page {
    margin: 20px 0;
    min-width: 1024px;
    .container {
      .wrapper {
        .heading {
          text-align: center;
          font-size: 29px;
          color: #4b4b4b;
          font-weight: 800;
          font-family: $arial;
        }
        .wrapper-content{
              .section-parent{
                margin:20px 0;
                display:flex;
                align-items: center;
                &:nth-child(even){
                  flex-direction: row-reverse;
                  .content-parent{
                      padding-left: 0;
                  }
              }
                img{
                    width: 50%;
                }
                .content-parent{
                    padding-left: 50px;
                    h2{
                      font-family: $arial;
                      color: #4b4b4b;
                      font-weight: 800;
                      font-size: 22px;
                    }
                    p{
                      font-family: $arial;
                      line-height: 1.5;
                      font-size: 16px;
                      color: #677279;
                    }
                }
            }
        }
      }
    }
  }
}


// Mobile About responsive

.mobile-responsive{ 
  .About-Page {
    margin: 20px 0;
    min-width: auto;
    .container {
      .wrapper {
        .heading {
          text-align: center;
          font-size: 29px;
          color: #4b4b4b;
          font-weight: 800;
          font-family: $arial;
        }
        .wrapper-content{
              .section-parent{
                margin:20px 0;
                display:flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                &:nth-child(even){
                  flex-direction: row-reverse;
                  .content-parent{
                      padding-left: 0;
                  }
              }
                img{
                    width: 85%;
                    @include responsive(sm){
                      width: 100%;
                    }
                }
                .content-parent{
                  text-align: center;
                  width: 85%;
                  @include responsive(sm){
                    width: 100%;
                  }
                    h2{
                      font-family: $arial;
                      color: #4b4b4b;
                      font-weight: 800;
                      font-size: 22px;
                    }
                    p{
                      font-family: $arial;
                      line-height: 1.5;
                      font-size: 16px;
                      color: #677279;
                    }
                }
            }
        }
      }
    }
  }
}

// Mobile About responsive end