.tablet-desktop-responsive{
    .brand-block{
        min-width: 1024px;
        margin-bottom: 50px;
        .container{
            .inline{
                h2{
                    margin-bottom:10px;
                    font-family: $arial;
                    font-size: 35px;
                    font-weight: 500;
                    color: #677279;
                    margin-top: 30px;
                }
            }
            .wrapper{
                display: flex;
                .brand-container{
                    width: 75%;
                    .brand-wrapper{
                        border: 1px solid #ededed;
                        padding: 0px 10px;
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        .product-wrap{
                            width: 33.3%;
                            padding: 40px;
                            margin: 0;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            a{
                                text-decoration: none;
                                .product-img{
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                .product-content{
                                    padding: 0;
                                    color: #444;
                                    font-size: 16px;
                                    text-align: center;
                                    margin-top: 40px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    font-weight: 600;
                                    font-family: "Roboto", sans-serif;
                                    text-decoration: none;
                                    .product-subtitle {
                                        padding-top: 3px;
                                        font-weight: 300;
                                        color: #df7800;
                                    }
                                }
                            }
                        }
                    }
                }
                .sidebar-right{
                    width: 25%;
                    padding-left: 20px;
                    .yith-wcan-filter{
                        h4{
                            font-size: 18px;
                            font-weight: 600;
                            font-family: $arial;
                            margin: 0px 0px 10px;
                        }
                        .filter-content{
                            ul{
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column-reverse;
                                margin: 0;
                                padding-left: 10px;
                                li{
                                    line-height: 2px;
                                    &:nth-child(1){
                                        order: 2;
                                    }
                                    &:nth-child(2){
                                        order: 1;
                                    }
                                    &:nth-child(3){
                                        order: 3;
                                    }
                                    &:nth-child(4){
                                        order: 4;
                                    }
                                    label{
                                        display: flex;
                                        align-items: center; 
                                        a{
                                            padding: 0px 15px;
                                            display: block;
                                            line-height: 1.4em;
                                            font-family: $arial; 
                                        }
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}


// mobile responsive brand page

.mobile-responsive{
    .brand-block{
        min-width: 100%;
        margin-bottom: 50px;
        .container{
            .inline{
                h2{
                    margin-bottom:10px;
                    font-family: $arial;
                    font-size: 35px;
                    font-weight: 500;
                    color: #677279;
                    margin-top: 30px;
                }
            }
            .wrapper{
                display: block;
                .brand-container{
                    width: 100%;
                    .brand-wrapper{
                        border: 1px solid #ededed;
                        padding: 0px 10px;
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        .product-wrap{
                            width: 50%;
                            padding: 40px;
                            margin: 0;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            @include responsive(sm){
                                width: 100%;
                            }
                            a{
                                text-decoration: none;
                                .product-img{
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                .product-content{
                                    padding: 0;
                                    color: #444;
                                    font-size: 16px;
                                    text-align: center;
                                    margin-top: 40px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    font-weight: 600;
                                    font-family: "Roboto", sans-serif;
                                    text-decoration: none;
                                    .product-subtitle {
                                        padding-top: 3px;
                                        font-weight: 300;
                                        color: #df7800;
                                    }
                                }
                            }
                        }
                    }
                }
                .sidebar-right{
                    width: 100%;
                    padding-left: 20px;
                    .yith-wcan-filter{
                        h4{
                            font-size: 18px;
                            font-weight: 600;
                            font-family: $arial;
                            margin: 0px 0px 10px;
                        }
                        .filter-content{
                            ul{
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column-reverse;
                                margin: 0;
                                padding-left: 10px;
                                li{
                                    line-height: 2px;
                                    &:nth-child(1){
                                        order: 2;
                                    }
                                    &:nth-child(2){
                                        order: 1;
                                    }
                                    &:nth-child(3){
                                        order: 3;
                                    }
                                    &:nth-child(4){
                                        order: 4;
                                    }
                                    label{
                                        display: flex;
                                        align-items: center; 
                                        a{
                                            padding: 0px 15px;
                                            display: block;
                                            line-height: 1.4em;
                                            font-family: $arial; 
                                        }
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}

// end