.tablet-desktop-responsive{   
  .Featured-Brand-Block {
    min-width: 1024px;
    .container {
      .wrapper {
        margin: 50px 0px;
        .heading {
          color: #4b4b4b;
          font-weight: 800;
          font-family: $arial;
          font-size: 22px;
        }
        .image-container {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          .image {
            border: 1px solid #ececea;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            img {
              width: 210px;
            }
          }
        }
      }
    }
  }
}



// Brand block mobile responsive

.mobile-responsive{   
  .Featured-Brand-Block {
    min-width: auto;
    .container {
      .wrapper {
        margin: 50px 0px;
        .heading {
          color: #4b4b4b;
          font-weight: 800;
          font-family: $arial;
          font-size: 22px;
        }
        .image-container {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          .image {
            border: 1px solid #ececea;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 0;
            width: 100%;
            @include responsive(sm){
              padding: 0;
            }
            img {
              width: 100%;
              padding: 20px;
              @include responsive(sm){
                padding: 15px;
              }
            }
          }
        }
      }
    }
  }
}

// Brand block mobile responsive end