.tablet-desktop-responsive{
    .pmpro_lost_password-instructions{
        text-align: center;
        font-family: 'Roboto';
        color: $dgray;
        font-size: 16px;
    }
        #lostpasswordform{
            text-align: center;
            .pmpro_lost_password-fields{
                width: 50%;
                margin: 0 auto;
                .pmpro_lost_password-field{
                    label{
                        text-align: center;
                        color: #677279;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        font-family: $arial;
                    }
                    input{
                        width: 100%;
                        border: 1px solid #ddd;
                        padding: 12px 15px;
                        font-size: 16px;
                        max-width: 100%;
                    }
                }
            }    
            .pmpro_submit{
                input{
                    background: #df7800;
                    border: 0;
                    color: #fff;
                    padding: 0 70px;
                    border-radius: 2px;
                    height: 44px;
                    font-size: 18px;
                    transition: background .25s ease-in-out,color .25s ease-in-out,box-shadow .25s ease-in-out;
                    margin-left: 5px;
                }
            }
        }
        hr{
            display: none;
        }
    .pmpro_actions_nav{
        a{
            text-decoration: none;
            color: #df7800;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            &:hover{
                color: #5d5e5e;
            }
        }
    }
}