.archive{
    .woocommerce{
        .woocommerce-breadcrumb{
          display: none;
        }
        .col-md-12{
          .main-page-title{
            h2{
              margin-bottom: -40px;
              font-family: $arial;
              font-size: 35px;
              font-weight: 500;
              color: $dgray;
              margin-top: 25px;
            }
          }
        }  
        .container{
          max-width: 1460px;
            .row{
              display: flex;
                .col-md-9{
                  flex: 75%;
                    .woopage-content{
                      position: relative;
                        .woocommerce-result-count{
                            position: absolute;
                            right: 270px;
                            margin: 0px;
                            top: 10px;
                            font-size: 18px;
                            font-weight: 400;
                            text-transform: capitalize;
                            font-family: $arial;
                            color: $dgray;
                        }
                        .woocommerce-ordering{
                            float: right;
                            width: min-content; 
                            margin-bottom: 10px;
                            select{
                              font-size: 18px;
                              font-weight: 400;
                              text-transform: capitalize;
                              background: #eee;
                              padding: 0 10px;
                              height: 40px;
                              border-radius: 5px;
                              border: none;
                              color: $dgray;
                            }
                            input{
                              color: $dgray;
                            }
                        }
                        .mainloopproducts{
                            border: 1px solid #ededed;
                            padding: 0px 10px;
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            .elitegas-shop{
                              width: 33.3%;
                              padding: 40px;
                              height: 470px;
                              margin: 0;
                              display: block;
                               a{
                                  text-decoration: none;
                                    img{
                                        width: 100%;
                                        height: auto;
                                        display: block;  
                                      }
                                      h2{
                                        padding: 0;
                                        color: #444;
                                        font-size: 16px;
                                        text-align: center;
                                        padding-top: 20px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        font-weight: 600;
                                        font-family: $arial;
                                        text-decoration: none;  
                                        span{     
                                          padding-top: 3px;
                                          font-weight: 200;
                                          color: $orange;
                                        }
                                      }
                                    .price{
                                        display: none;
                                    }
                                }
                                .button{
                                    display: none;
                                }
                            }
                        }    
                    }    
                }
                #sidebar{
                  flex: 25%;  
                }   
            }
        }  
    }
}