
* {
    outline:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub { 
    top: 0.4em; 
  }
  *,*:after,*:before {
    box-sizing: border-box;
  }
html, body { 
    margin:0;
    padding:0;

    overflow-x:auto;
}
body {
    position:relative;
   
    &.hide_nav {
        &:before {
            height:0;
           
        }
    }   
}
::-webkit-scrollbar {
	background: #ececea;
	width: 10px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-track-piece {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: #df7800;
	background-clip: content-box;
	border-radius: 9px;
	border: 2px solid #df7800;
	transition: all ease .4s
}

::-webkit-scrollbar-corner {
	display: none;
}
// normal h1-h6 styles etc
@import 'general';

.container {    
    max-width:1460px;
    margin:0 auto;
    @include responsive(xl){
      padding: 0 30px;
      max-width: 100%;
    }
    @include responsive(md){
      padding: 0 15px;
      max-width: 100%;
    }
}