/* @import must be at top of file, otherwise CSS will not work */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'MontLight';
    src: url('../../theme/includes/fonts/Mont-ExtraLightDEMO.woff2') format('woff2'),
        url('../../theme/includes/fonts/Mont-ExtraLightDEMO.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'MontBold';
    src: url('../../theme/includes/fonts/Mont-HeavyDEMO.woff2') format('woff2'),
        url('../../theme/includes/fonts/Mont-HeavyDEMO.woff') format('woff');
    font-display: swap;
}
// Breakpoints Structure
$custom-breakpoints: (
    xs: (minSize: 0px, maxSize: 575px, maxContWidth: 0px, name: 'XS'), // vertical mobile layout
    sm: (minSize: 576px, maxSize: 767px, maxContWidth: 719px, name: 'SM'), //horizontal mobile layout
    md: (minSize: 768px, maxSize: 991px, maxContWidth: 720px, name: 'MD'), //ipad
    lg: (minSize: 992px, maxSize: 1249px, maxContWidth: 960px, name: 'LG'), //ipad pro
    xl: (minSize: 1250px, maxSize: 1499px, maxContWidth: 1250px, name: 'XL'),
    max: (minSize: 1500px, maxSize: 0px, maxContWidth: 1201px, name: 'MAX')
); 

$maxSiteSize: 1200px;

$white:#ffffff;
$grey : #cfcfcf;
$yellow: #F7BE00;
$darkblue: #101820;
$primary: #f4f4f4;

$Roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$montdemo: 'MontBold';
$mont: 'MontLight';

$shadow: 0.5rem 0.5rem 1rem #cfcfcf, -0.5rem -0.5rem 1rem #fff;