/* @import must be at top of file, otherwise CSS will not work */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "arial";
    src: url(/src/fonts/ArialTh.ttf);
  }
  
// Breakpoints Structure
$custom-breakpoints: (
    xs: (minSize: 0px, maxSize: 575px, maxContWidth: 0px, name: 'XS'), // vertical mobile layout
    sm: (minSize: 576px, maxSize: 767px, maxContWidth: 719px, name: 'SM'), //horizontal mobile layout
    md: (minSize: 768px, maxSize: 991px, maxContWidth: 720px, name: 'MD'), //ipad
    lg: (minSize: 992px, maxSize: 1249px, maxContWidth: 960px, name: 'LG'), //ipad pro
    xl: (minSize: 1250px, maxSize: 1499px, maxContWidth: 1250px, name: 'XL'),
    max: (minSize: 1500px, maxSize: 0px, maxContWidth: 1201px, name: 'MAX')
); 



$orange : #df7800;
$dgray : #677279;

$arial: 'arial';
$algrey:'Alegreya Sans', sans-serif;
